name: build

on: 
  push:
    branches:
    - master
    - release/*
  pull_request:
    branches:
    - master  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B -q clean package --file pom.xml
    
    - name: Run integration test with -Parq-payara-managed
      run: mvn -B -q clean verify -Parq-payara-managed        

   # - name: Run integration test with -Parq-payara-embedded(chromeheadless)
   #   run: mvn clean verify -Parq-payara-embedded,chromeheadless

    - name: Run integration test with -Parq-payara-embedded
      run:  mvn -B -q mvn clean verify -Parq-payara-embedded
  automerge:
    name: Merge pull request
    runs-on: ubuntu-latest
    needs: [build]
    if: github.base_ref == 'master' && github.actor == 'dependabot[bot]'
    steps:
      - name: Merge
        uses: actions/github-script@v4.0.2
        with:
          script: |
            github.pullRequests.merge({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.pull_request.number
            })
          github-token: ${{github.token}}   
